<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body {
      margin: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      outline: none;
      user-select: none;
    }

    .backImg {
      width: 100vw;
      height: 100vh;
      position: absolute;
      opacity: 0.7;
    }

    #canvasBox {
      width: 1000px;
      height: 600px;
      border-radius: 30px;
      position: relative;
      overflow: hidden;
    }

    #background {
      position: absolute;
    }
    #floor {
      position: absolute;
    }
    #hurdle {
      position: absolute;
    }
    #jelly {
      position: absolute;
    }
    #main {
      position: absolute;
      font-family: "pointFont";
    }
    #point {
      position: absolute;
      display: flex;
      justify-content: center;
      top: 15%;
      left: 50%;
      width: 300px;
      height: 30px;
      transform: translate(-50%,-50%);
      z-index: 10;
    }
    #pointImg {
      display: flex;
    }
    #pointBox {
      font-family: "pointFont";
      font-size: 25px;
    }
    @font-face {
      font-family: "pointFont";
      src: url(/image/images/Font/CookieRunRegular.ttf);
    }

    #endGame {
      background-color: white;
      position: absolute;
      width: 50%;
      height: 50%;
      left: 25%;
      top: 25%;
      border-radius: 30px;
      z-index: -1;
    }

    .endGameHead {
      height: 30%;
    }

    .endGame_word {
      line-height: 100px;
      font-size: 30px;
      text-align: center;
    }
    .endGameMain {
      height: 70%;
      width: 100%;
    }
    .endGameContent {
      width: 100%;
      height: 50%;
      margin: auto 0;
      display: flex;
      justify-content: space-around;
    }
    .endGameContent1 {
      width: 110px;
      height: 70px;
      background-color: beige;
      border: solid 1px black;
    }
    .endGame_score_content {
      margin: auto 0;
      margin-top: 15px;
    }

    #endGame_score {
      width: 150px;
      height: 50px;
      font-size: 30px;
      text-align: center;
    }

    #tutorial {
      position: absolute;
      width: 60%;
      height: 85%;
      z-index: 99;
      left: 200px;
      top: 40px;
    }

    #tutorial:hover {
      border-image: linear-gradient(to right, red 0%, orange 100%);
      border-image-slice: 1;
    }
    .Btn {
      position: absolute;
      right: 120px;
      width: 20px;
      height: 20px;
      z-index: 1;
      cursor: pointer;
    }
    #playBtn {     
      top: 30px;      
    }    
    #pauseBtn {      
      top: 60px;      
    }        
    .tu_img {
      width: 100%;
      height: 100%;
    }
    #intro {
      position: absolute;
      z-index: 100;
      width: 100%;
      height: 100%;
      background-image: url("/image/images/intro/intro.png");
      background-size: cover;
    }
    #gmes {
      width: 200px;
      height: 100px;
      top: 63%;
      left: 40%;
      position: absolute;
      border-radius: 25px;
      font-size: 25px;
      font-weight: 900;
      background-color: antiquewhite;
      opacity: 0.6;
      transition: 0.7s;
    }
    #gmes:hover {
      opacity: 1;
    }
    </style>
  <body>
    <img class="backImg" src="/image/images/background/back6.jpeg" alt="slsnrh?"/>
    <div id="canvasBox">
      <div id="point">
        <div id="pointImg">
          <img
            src="/image/images/Map/point.png"
            width="30px"
            height="30px"
          />&nbsp;&nbsp;
          <div id="pointBox">0</div>
          <input type="hidden" id="pointFinal" value="0">
        </div>
      </div>
      <div id="intro">
        <button id="gmes">Game Start</button>
      </div>
      <button id="tutorial">
        <img class="tu_img" src="/image/images/intro/tutorial.png" alt="123123" />
      </button>
      <canvas id="background"></canvas>
      <canvas id="main"></canvas>
      <div id="endGame">
        <header class="endGameHead">
          <div class="endGame_word">게임 종료</div>
        </header>
        <main class="endGameMain">
          <div class="endGameContent">
            <div class="endGame_score_content">
              <div id="endGame_score">0</div>
              
            </div>
          </div>
          <div class="endGameContent">
            <a
              class="move"
              href="/kg/logout1"
            >
              <button class="endGameContent1">로그인 페이지로</button>
            </a>
            <a class="move" href="/kg/maingame">
              <button class="endGameContent1">다시 시작</button>
            </a>
            <a class="move">
              <button class="endGameContent1" onclick="updateScore()">점수 등록</button>
            </a>
          </div>
        </main>
      </div>
      <div>
         <img src="/image/images/playicon2.png" alt="ss" id="playBtn" class="Btn">
          <img src="/image/images/pauseicon.png" alt="dd" id="pauseBtn" class="Btn">
        </div>
    </div> 
    </div>
      
    </div>    
      <!-- <div id="UI">
        <img src="/image/images/mapback.jpg" alt="" id="UI-background">
        <div class="map" id="map1">
          <img src="/image/images/Map/first.png" alt="">
        </div>
        <div class="map" id="map2">
          <img src="/image/images/Map/second.png" alt="">
        </div>
        <div class="map" id="map3">
          <img src="/image/images/Map/third.png" alt="">
        </div>
        <div class="map" id="map4">
          <img src="/image/images/Map/forth.png" alt="">
        </div>
        <div class="map" id="map5">
          <img src="/image/images/Map/fifth.png" alt="">
        </div>
      </div> -->
  </body>
  <script src="/js/background.js"></script>
  <script src="/js/floor-1.js"></script>
  <script src="/js/hurdle-1.js"></script>
  <script src="/js/jelly-1.js"></script>
  <script src="/js/UI.js"></script>
  <script src="/js/hp.js"></script>
  <script src="/js/main.js"></script>
  <script>
    function updateScore() {
    let scoreFinal = document.getElementById("endGame_score");
    $.ajax({
      url: "/kg/updateScore",
      type: "POST",
      data: {
        scoreFinal: scoreFinal.innerText, // 태그 사이 들어간 값을 가져옴
      },
      success: function(data) {
        if (data == "updateSuc"){
          alert('점수 적용 완료!!!!!!!!!!')
          window.location="/kg/logout1"
        } else if(data == "soSmall") alert("현재 점수가 최고 점수보다 낮습니다.")
        else {alert('잘못된 요청입니다.')}
      }
    })
  }
  </script>
  

</html>
