<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>기능 미구현이요^.^ 다른 아이디 새로 만들거나 관리자에게 회원탈퇴 요청 후 재 가입 부탁드립니다.</h1>
</body>
</html>